${font bold:size=6}${goto 12}[--datatype=DW --shortweekday]${goto 53}[--datatype=DW --startday=1 --shortweekday]${goto 94}[--datatype=DW --startday=2 --shortweekday]${goto 135}[--datatype=DW --startday=3 --shortweekday]${goto 176}[--datatype=DW --startday=4 --shortweekday]
${voffset -3}${goto 12}${font bold:size=8}[--datatype=HT --hideunits --centeredwidth=4]${font bold:size=8}${goto 53}[--datatype=HT --startday=1 --hideunits --centeredwidth=4]${goto 94}[--datatype=HT --startday=2 --hideunits --centeredwidth=4]${goto 135}[--datatype=HT --startday=3 --hideunits --centeredwidth=4]${goto 176}[--datatype=HT --startday=4 --hideunits --centeredwidth=4]
${voffset -19}${font ConkyWeather:size=13}${goto 32}[--datatype=WF]${font ConkyWeather:size=13}${goto 73}[--datatype=WF --startday=1]${goto 114}[--datatype=WF --startday=2]${goto 155}[--datatype=WF --startday=3]${goto 196}[--datatype=WF --startday=4]
